<footer class="page-footer brown darken-4">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5 class="white-text">Saunawagon © <%= new Date().getFullYear() %></h5>
                <p class="light">Sauna, Natur, Events, Wildcooking. Unterstütze unsere Startnext Kampagne und helfe uns den Saunawagen auf die Beine zu stellen.</p>
            </div>
            <div class="col offset-m3 m3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="light underline" target="_blank" href="https://www.startnext.com/saunawagon">Startnext</a></li>
                    <li><a class="light underline modal-trigger" href="#datenschutz">Datenschutz</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
