<div class="parallax-container banner valign-wrapper">
    <div class="overlay"></div>
    <div class="container center-align">
        <div class="hero-content">
            <img src="<%= require('../images/icons/saunawagon-icon.svg') %>" alt="Saunawagon" class="hero-icon">
            <h1 class="hero-title">SAUNAWAGON</h1>
            <p class="hero-subtitle">Events & Vermietung in Berlin-Brandenburg</p>
        </div>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4XQKK2DV8W4FN" target="_blank" class="btn-large waves-effect waves-light">Jetzt spenden</a>
    </div>
    <div class="parallax">
        <img src="<%= require('../images/am_see_finnland.jpg') %>">
    </div>
</div>
