<section id="idea" class="valign-wrapper scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="flow-text light">Wellness Entspannung - wann, wo und mit wem Du willst. Miete dir den Saunawagon und entscheide selbst, wann der richtige Zeitpunkt ist, um zu entspannen, innezuhalten oder der Hektik der Großstadt zu entkommen. Teile deine Stunden nur mit Leuten, die dir wichtig sind. Zusätzlich veranstalten wir unsere Sauna Outdoor Events. Komm vorbei und genieße die Wirkung ätherischer Öle, Meditation, Yoga, Wildküche und Lagerfeuergeschichten.</p>
                <br>
                <h4>Die Idee</h4>
                <p class="light">
                    Als Freunde ausgelassener Sauna-Zeremonien kam uns die Idee einen mobilen Shepherd's Wagon (Schäferwagen) zu konstruieren, in dem sich eine geräumige Sauna versteckt. Ausgestattet mit einem 80 km/h Strassenfahrwerk lässt sich der Wagon bequem an jeden Ort, in die Natur oder ans Wasser bringen.
                    Ob für das gemeinsame BBQ am See, dem Lagerfeuer auf dem Campinglatz oder einer lustigen Runde zu Hause, wird der Saunawagon über ein online Buchungssystem das ganze Jahr über in Berlin und Umgebung gemietet werden können. Darüber hinaus möchten wir Sauna Events veranstalten bei denen es um Besinnung und Erholung in der Natur geht.
                </p>
                <br>
                <h4>Ausstattung</h4>
                <p class="light">
                    Der Wagon ist völlig autark. Er benötigt keinen Strom und wird mit einem Finnischen Holzofen befeuert. Er ist über eine extra dafür gebaute Plattform mit Stufen sicher zu begehen, besitzt einen Wassertank mit Aussendusche, eine Ladefläche für die Holzscheite und ein großes Panoramafenster. Die Sauna bietet sitzend Platz für bis zu 10 Personen, für den Bau werden ausschließlich natürliche Materialien verwendet.
                </p>
                <br>
            </div>
        </div>
    </div>
</section>

<div class="parallax-container valign-wrapper">
    <div class="container" >
        <div class="row center">
            <h2 class="header rellax col s12 light white-text">Nimm dir Zeit und schalte ab. Wann, wo und mit wem Du willst.</h2>
        </div>
    </div>
    <div class="parallax">
        <img src="<%= require('../images/finnland_special.jpg') %>">
    </div>
</div>
