<section id="crowdfunding" class="valign-wrapper scrollspy">
    <div class="container">
        <div class="row card-panel">
            <div class="col s12 m3 center">
                <!--<div class="image startnext circle"></div>-->
                <img src="<%= require('../images/startnext_logo.jpg') %>" class="company-img circle">
            </div>
            <div class="col s12 m9">
                <h4>Startnext</h4>
                <p class="light">Damit der Saunawagon im Winter 2018 für Euch verfügbar stehen kann, brauchen wir jetzt Eure Hilfe. Unterstüzt unsere Kampagne bei Startnext und sichert Euch exklusive Dankeschöns!</p>
                <a href="https://www.startnext.com/saunawagon" target="_blank" class="btn waves-effect waves-light">Zur Kampagne</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="divider" style="margin: 20px 0;"></div>
            </div>
        </div>
        <div class="row card-panel">
            <div class="col s12 m3 center">
                <img src="<%= require('../images/paypal_logo.png') %>" class="company-img">
            </div>
            <div class="col s12 m8">
                <h4>Paypal</h4>
                <p class="light">Wir haben ein Paypal Spendenkonto! Helft uns direkt unser Projekt zu realisieren. </p>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4XQKK2DV8W4FN" target="_blank" class="btn waves-effect waves-light">Jetzt spenden</a>
            </div>
        </div>
    </div>
</section>
