<section id="team" class="valign-wrapper scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Das Team</h3>
                <p class="light">
                    Hinter Saunawagon steht eine junges und motiviertes Team.
                    Wir lieben es in der Natur zu saunieren und verfolgen unsere Ziele dabei mit Hingabe und Überzeugung.
                    Uns vereint eine starke Identifikation mit dem Thema Sauna, Wildcooking und Outdoor Experiences.
                    Unsere Freude, Leidenschaft und Motivation machen uns besonders: Wir wollen nicht zufrieden stellen, sondern begeistern.
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= require('../images/joni.jpg') %>">
                    </div>
                    <div class="card-content">
                        <i class="card-title activator material-icons left">more_vert</i></span>
                        <span class="card-title activator grey-text text-darken-4">Jonathan</span>
                    </div>
                    <div class="card-reveal">
                        <i class="card-title material-icons left">close</i>
                        <span class="card-title grey-text text-darken-4">Jonathan</span>
                        <p class="light">Aktions- & Eventkünstler, Tourismuskaufmann, Freigeist, Outdoor Koch & Spezialist, Überlebensstratege</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= require('../images/konni.jpg') %>">
                    </div>
                    <div class="card-content">
                        <i class="card-title activator material-icons left">more_vert</i>
                        <span class="card-title activator grey-text text-darken-4">Konstantin</span>
                    </div>
                    <div class="card-reveal">
                        <i class="card-title material-icons left">close</i>
                        <span class="card-title grey-text text-darken-4">Konstantin</span>
                        <p class="light">Sportentusiast, Yoga-Lehrer, Event-Planer</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= require('../images/justus.jpg') %>">
                    </div>
                    <div class="card-content">
                        <i class="card-title activator material-icons left">more_vert</i>
                        <span class="card-title activator grey-text text-darken-4">Justus</span>
                    </div>
                    <div class="card-reveal">
                        <i class="card-title material-icons left">close</i>
                        <span class="card-title grey-text text-darken-4">Justus</span>
                        <p class="light">Designliebhaber, Saunameister</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="parallax-container valign-wrapper">
    <div class="container" >
        <div class="row center">
            <h3 class="header col s12 light white-text">Entspanne deinen Körper und Geist, sorge für dein Wohlbefinden. Atme ein und aus.</h3>
        </div>
    </div>
    <div class="parallax">
        <img src="<%= require('../images/people_bonfire.jpg') %>">
    </div>
</div>
