// 1. Colors
// ----------------------------------------------->
$primary-color: color("brown", "darken-4");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: color("brown", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "c");

// Text Inputs + Textarea
$input-height: 3rem;
$input-border-color: color("grey", "base");
$input-border: 1px solid $input-border-color;
$input-background: #fff;
$input-error-color: $error-color;
$input-success-color: $success-color;
$input-focus-color: $secondary-color;
$input-font-size: 16px;
$input-margin-bottom: 8px;
$input-margin: 0 0 $input-margin-bottom 0;
$input-padding: 0;
$label-font-size: .8rem;
$input-disabled-color: rgba(0,0,0, .42);
$input-disabled-solid-color: #949494;
$input-disabled-border: 1px dotted $input-disabled-color;
$input-invalid-border: 1px solid $input-error-color;
$input-icon-size: 2rem;
$placeholder-text-color: lighten($input-border-color, 20%);

// Grid
// ----------------------------------------------->
$num-cols: 12;
$gutter-width: 60px;
$element-top-margin: $gutter-width / 3;
$element-bottom-margin: ($gutter-width*2) / 3;
$element-top-margin: 40px;
$element-bottom-margin: 20px;